.header {
    display: flex;
    justify-content: space-between;
    background: black;
    padding: 0 20px;
    margin: 0;
}

.header ul {
    display: flex;
}

.header li {
    margin-right: 20px;
    list-style: none;
    font-size: 20px;
}